* {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;

}

.container {
    background-color: rgb(210, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid gray;
    border-radius: 10%;
    margin: auto;
    width: 300px;
   
    
}
h1 {
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    background-color: grey;
    font-size: 40px;
    margin: auto;
    padding: auto;
    width: 300px;
    
}
button {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    background-color: grey;
    border: 10px solid grey;
    border-radius: 5px;
    padding: 2px 4px;
    cursor: pointer;
    letter-spacing: 0.2em;
    margin: 35px 5px 35px 5px ;

}

#contagem {
    color:grey;
    background-color: whitesmoke;
    font-size: 70px;
    border: 10px solid grey ;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
    max-width: 150px;
}

